{% extends "base.html" %}

{% block content %}
<main class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Популярные рецепты</h2>
            <ul class="list-unstyled">
                <li class="mb-3"><a href="#">Тирамису</a></li>
                <li class="mb-3"><img
                        src="https://i.pinimg.com/236x/e0/14/26/e01426938fb0670de777b7d8bbe669b3.jpg?nii=t">
                </li>
                <li class="mb-3"><a href="#">Салат "Цезарь"</a></li>
                <li class="mb-3"><a href="#">Борщ</a></li>
                <li class="mb-3"><a href="#">Паста с курицей и грибами</a></li>
            </ul>
        </div>
        <div class="col-md-6">
            <h2 class="mb-4">Новые рецепты</h2>
            <ul class="list-unstyled">
                <li class="mb-3"><a href="#">Красный борщ с мясом</a></li>
                <li class="mb-3"><a href="#">Филе морского окуня в кляре</a></li>
                <li class="mb-3"><a href="#">Кекс с ягодами</a></li>
                <li class="mb-3"><a href="#">Жареный рис с овощами</a></li>
            </ul>
        </div>
    </div>
</main>
{% endblock %}